<launch>
  <!-- All settings -->
  <arg name="robot_name" default="smb"/>
  <arg name="gazebo_gui_en" default="true"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="rviz_en" default="true" />
  <arg name="launch_prefix" default=""/> <!-- gdb -ex run //args -->
  <param name="use_sim_time" value="$(arg use_sim_time)"/>
  <!-- Config files -->
  <!--arg name="world_file" default="$(find planner_gazebo_sim)/worlds/niosh_osrf.world"/--> 
  <!--arg name="world_file" default="$(find planner_gazebo_sim)/worlds/darpa_cave_01.world"/--> 
  <!--arg name="world_file" default="$(find planner_gazebo_sim)/worlds/pittsburgh_mine.world"/-->
  <!--arg name="world_file" default="$(find planner_gazebo_sim)/worlds/world_test.world"/-->
  <!--arg name="world_file" default="$(find planner_gazebo_sim)/worlds/maze.world"/-->
  <!--arg name="world_file" default="$(find planner_gazebo_sim)/worlds/maze2.world"/-->
  <!--arg name="world_file" default="$(find planner_gazebo_sim)/worlds/small_park_maze.world"/-->
  <arg name="world_file" default="$(find planner_gazebo_sim)/worlds/SmallParkMaze2.world"/>
  <!--arg name="world_file" default="$(find planner_gazebo_sim)/worlds/SmallParkMaze3.world"/-->
  <!-- <arg name="world_file" default="$(find planner_gazebo_sim)/worlds/UnstructedEnvironment2.world"/> -->

  <!-- Static TF -->
  <node pkg="tf" type="static_transform_publisher" name="tf_53" args="0 0 0 0 0 0 world navigation 100" />
  <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find planner_gazebo_sim)/models:$(find subt_cave_sim)/models"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(arg world_file)"/>
		<arg name="paused" value="false"/>
		<arg name="use_sim_time" value="true"/>
		<arg name="gui" value="$(arg gazebo_gui_en)"/>
		<arg name="headless" value="false"/>
		<arg name="debug" value="false"/>
    <arg name="verbose" value="false"/>
	</include>
  <include file="$(find smb_gazebo)/launch/spawn_smb.launch">
    <arg name="joystick" value="true"/>
    <arg name="x" value="0.0" />
    <arg name="y" value="0.0" />
    <arg name="z" value="0.6" />
  </include>
  <!--node pkg="topic_tools" type="relay" name="vlp_relay" args="/velodyne_points /input_pointcloud" /-->
  <!--node pkg="topic_tools" type="relay" name="front_lidar_relay" args="/lidar_front_points /input_pointcloud" /-->
  <!--arg name="odometry_topic" default="/ground_truth/state"/-->
  <!--node name="pose_throttler" type="throttle" pkg="topic_tools" args="messages $(arg robot_name)/ground_truth/pose_with_covariance 10 /msf_core/pose" /-->
  <!-- <include file="$(find point_cloud_repub)/launch/point_cloud_repub.launch"/> -->
  <include file="$(find elevation_mapping_cupy)/launch/EleForVRP.launch"/>
  <!--node pkg="rviz" type="rviz" name="pplanner_rviz" output="screen" args="-d $(find pplanner_simulator)/config/rviz/pplanner_smb.rviz"/-->

</launch>
