<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="sensor_head">

	<xacro:macro name="sensor_head" params="*origin parent:=base_link name:=sensor_head">
		<joint name="${name}_base_mount_joint" type="fixed">
			<xacro:insert_block name="origin" />
			<parent link="${parent}"/>
			<child link="${name}_base_link"/>
		</joint>

		<link name="${name}_base_link">
			<inertial>
				<mass value="0.000000001" />
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
			</inertial>
		</link>

		<xacro:arg name="gpu" default="true"/>
		
		<xacro:include filename="$(find lidar_description)/urdf/VLP-16-ForUnitreeA1.urdf.xacro"/>
		<xacro:VLP-16 parent="${name}_base_link" name="${name}_Top_Velodyne" topic="${name}_Top_Velodyne_Points" hz="10" lasers="32" samples="440" gpu="$(arg gpu)" collision_range="0.2" min_range="0.2">
			<origin xyz="0.10 0 0.12" rpy="0 0 0" />
		</xacro:VLP-16>

		<!-- <xacro:VLP-16 parent="${name}_base_link" name="${name}_Front_Velodyne" topic="${name}_Front_Velodyne_Points" hz="10" lasers="32" samples="440" gpu="false" collision_range="0.2" min_range="0.7">
			<origin xyz="0.1 -0.3 -0.1" rpy="0 0.5 0" />
		</xacro:VLP-16> -->

		<!-- <xacro:VLP-16 parent="${name}_base_link" name="${name}_Back_Velodyne" topic="${name}_Back_Velodyne_Points" hz="10" lasers="32" samples="440" gpu="false" collision_range="0.2" min_range="1.0">
			<origin xyz="-0.05 0.3 -0.1" rpy="0 -0.5 0" />
		</xacro:VLP-16> -->

		<!-- <xacro:include filename="$(find smb_description)/urdf/depthCamera.xacro"/>
		<xacro:depthCamera parent="${name}_base_link" name="${name}_Front">
        	<origin rpy="0 0 0" xyz="0.9 -0.0125 0.15"/>
    	</xacro:depthCamera>

		<xacro:depthCamera parent="${name}_base_link" name="${name}_Back">
        	<origin rpy="0 0 0" xyz="-0.9 -0.0125 0.15"/>
    	</xacro:depthCamera> -->

		<xacro:include filename="$(find realsense_simulator)/xacro/depthcam.xacro"/>
		<xacro:realsense_d435 sensor_name="${name}_Front_RealsenseD435" parent_link="${name}_base_link" rate="10">
    		<origin rpy="0 0.16 0 " xyz="0.25 0 -0.05"/>
  		</xacro:realsense_d435>

	</xacro:macro>
</robot>